/* custom css */

/*============*/
body{
  background-color: #fafafa;
}
/*================*/
.side-bar-container{
  max-width: 300px !important;
  background-color: #f1f1f1;
  margin: 0;
}

.gallery-wrapper{
  padding-top: 4em;
  max-width: 1080px;
  margin: 0 auto;
}

.cd-radial-slider-wrapper {
  max-width: 100% !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.highlight__wrapper{
  padding-bottom: 1em;
  padding-bottom: 0;
  background-color: #fafafa;
  padding-right: 10%;
  padding-left: 10%;
}
.cd-radial-slider{
  margin-bottom: 0 !important;
}

.cd-radial-slider-navigation{
  margin-bottom: 0;
}

.details-wrapper{
  background-color: #fff;
}

.detail--sized{
  font-size: 12px !important;
  font-weight: 800;
}



.list-item{

  padding: 1em;
}


.poem-wrapper{
  background-color: #fff;
  height: 300px;
  padding: 2em;
}

.poem-wrapper p{
  font-size: 2em !important;
  line-height: 1em;
  color: #ff475b !important;
}
