	<div class="cd-gallery-container">
		<nav class="cd-filter">
			<ul>
				<li class="placeholder">
					<a data-type="red" href="#0"></a>
				</li>

				<li>
					<a class="selected" data-type="red" href="#0">Poetry</a>
				</li>

				<li>
					<a data-type="blue" href="#0">Music</a>
				</li>

				<li>
					<a data-type="green" href="#0">Visual Art</a>
				</li>
			</ul>
		</nav>

		<ul class="cd-gallery cd-container">
			<li>
				<ul class="cd-item-wrapper">
					<li data-type="red" class="is-visible">
						<img src="{{site.baseurl}}/img/thumb-red.jpg" alt="thumbnail">
					</li>

					<li data-type="blue" class="is-hidden">
						<img src="{{site.baseurl}}/img/thumb-blue.jpg" alt="thumbnail">
					</li>

					<li data-type="green" class="is-hidden">
						<img src="{{site.baseurl}}/img/thumb-green.jpg" alt="thumbnail">
					</li>
				</ul>
			</li>

			<li>
				<ul class="cd-item-wrapper">
					<li data-type="red" class="is-visible">
						<img src="{{site.baseurl}}/img/thumb-red.jpg" alt="thumbnail">
					</li>

					<li data-type="blue" class="is-hidden">
						<img src="{{site.baseurl}}/img/thumb-blue.jpg" alt="thumbnail">
					</li>

					<li data-type="green" class="is-hidden">
						<img src="{{site.baseurl}}/img/thumb-green.jpg" alt="thumbnail">
					</li>
				</ul>
			</li>

			<li>
				<ul class="cd-item-wrapper">
					<li data-type="red" class="is-visible">
						<img src="{{site.baseurl}}/img/thumb-red.jpg" alt="thumbnail">
					</li>

					<li data-type="blue" class="is-hidden">
						<img src="{{site.baseurl}}/img/thumb-blue.jpg" alt="thumbnail">
					</li>

					<li data-type="green" class="is-hidden">
						<img src="{{site.baseurl}}/img/thumb-green.jpg" alt="thumbnail">
					</li>
				</ul>
			</li>

			<li>
				<ul class="cd-item-wrapper">
					<li data-type="red" class="is-visible">
						<img src="{{site.baseurl}}/img/thumb-red.jpg" alt="thumbnail">
					</li>

					<li data-type="blue" class="is-hidden">
						<img src="{{site.baseurl}}/img/thumb-blue.jpg" alt="thumbnail">
					</li>

					<li data-type="green" class="is-hidden">
						<img src="{{site.baseurl}}/img/thumb-green.jpg" alt="thumbnail">
					</li>
				</ul>
			</li>
		</ul> <!-- cd-gallery -->

		<ul class="cd-gallery cd-container">
			<li>
				<ul class="cd-item-wrapper">
					<li data-type="red" class="is-visible">
						<img src="{{site.baseurl}}/img/thumb-red.jpg" alt="thumbnail">
					</li>

					<li data-type="blue" class="is-hidden">
						<img src="{{site.baseurl}}/img/thumb-blue.jpg" alt="thumbnail">
					</li>

					<li data-type="green" class="is-hidden">
						<img src="{{site.baseurl}}/img/thumb-green.jpg" alt="thumbnail">
					</li>
				</ul>
			</li>

			<li>
				<ul class="cd-item-wrapper">
					<li data-type="red" class="is-visible">
						<img src="{{site.baseurl}}/img/thumb-red.jpg" alt="thumbnail">
					</li>

					<li data-type="blue" class="is-hidden">
						<img src="{{site.baseurl}}/img/thumb-blue.jpg" alt="thumbnail">
					</li>

					<li data-type="green" class="is-hidden">
						<img src="{{site.baseurl}}/img/thumb-green.jpg" alt="thumbnail">
					</li>
				</ul>
			</li>

			<li>
				<ul class="cd-item-wrapper">
					<li data-type="red" class="is-visible">
						<img src="{{site.baseurl}}/img/thumb-red.jpg" alt="thumbnail">
					</li>

					<li data-type="blue" class="is-hidden">
						<img src="{{site.baseurl}}/img/thumb-blue.jpg" alt="thumbnail">
					</li>

					<li data-type="green" class="is-hidden">
						<img src="{{site.baseurl}}/img/thumb-green.jpg" alt="thumbnail">
					</li>
				</ul>
			</li>

			<li>
				<ul class="cd-item-wrapper">
					<li data-type="red" class="is-visible">
						<img src="{{site.baseurl}}/img/thumb-red.jpg" alt="thumbnail">
					</li>

					<li data-type="blue" class="is-hidden">
						<img src="{{site.baseurl}}/img/thumb-blue.jpg" alt="thumbnail">
					</li>

					<li data-type="green" class="is-hidden">
						<img src="{{site.baseurl}}/img/thumb-green.jpg" alt="thumbnail">
					</li>
				</ul>
			</li>
		</ul> <!-- cd-gallery -->
	</div> <!-- cd-gallery-container -->
