<section style="max-width: 960px !important; margin: 0 auto !important">
  <div class="text-center heading-wrap" style="padding: 3em">
    <h2>News</h2>
    <hr/>
  </div>
  <article>
    <div class="row">
    {% for post in site.posts %}
    <!-- news -->
    {% if post.news %}
      <div class="col-md-12 col-sm-12">
        <div class="article news-wrapper" style="padding-bottom: 2em">
          <div class="row" style="height: auto">
            <div class="col-md-4 col-sm-4">
              <div class="thumb--outer">
                <img style="height: 260px; width: 260px" src="{{site.baseurl.url}}/assets/img/{{post.image}}" alt="{{post.title}}" class="img-responsive">
              </div>
            </div>
            <div class="col-md-8 col-sm-8"style="height: auto;" >
              <div class="details--outer" style="position: relative; min-height: 260px; padding-bottom: 4em">
                <div class="heading-wrap">
                  <h4>{{post.title}}</h4>
                </div>
                <div class="excerpt-wrap" >
                  <p>{{post.excerpt | truncate: 300 }}</p>

                </div>
                <a style="position: absolute; bottom: 0" href="{{site.baseurl}}{{post.url}}" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr/>
    {% endif %}
    {% endfor %}
  </div>
  </article>
</section>
